# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Generated Data
simulator/output/**/*.parquet

# Logs
*.log

# Test Artifacts
.pytest_cache/

# Jupyter
.ipynb_checkpoints/


.env
simulator/output/
.venv/
testfile.py
.terraform/
terraform.tfstate*